ion-button {
  height: 15vw;
  width: 27vw;
}

.botao {
  height: 73%;
}

.small {
  display: flex;
  justify-content: center;
  ion-button {
    height: 10vw;
    width: 15vw;
  }
}

.round1 {
  display: flex;
  justify-content: center;
}

.round2 {
  display: flex;
  justify-content: center;
}

.round3 {
  display: flex;
  justify-content: center;
}

.round4 {
  display: flex;
  justify-content: center;
}

.round5 {
  display: flex;
  justify-content: center;
}

.round6 {
  display: flex;
  justify-content: center;
}
