<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>Operação</ion-label>
  <ion-item>
    <ion-input placeholder=></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Resultado</ion-label>
  </ion-item>


  <div class="small">
    <ion-button size="small" color="kerol">MC</ion-button>
    <ion-button size="small" color="kerol">MR</ion-button>
    <ion-button size="small" color="kerol">M+</ion-button>
    <ion-button size="small" color="kerol">M-</ion-button>
    <ion-button size="small" color="kerol">MS</ion-button>
  </div>

    <div class="round1">
      <ion-button shape="round" color="kerol">%</ion-button>
      <ion-button shape="round" color="kerol">√</ion-button>
      <ion-button shape="round" color="kerol">x²</ion-button>
      <ion-button shape="round" color="kerol">1/x</ion-button>
    </div>
    <div class="round2">
      <ion-button shape="round" color="kerol">CE</ion-button>
      <ion-button shape="round" color="kerol">C</ion-button>
      <ion-button shape="round" color="kerol">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-button shape="round" color="kerol">÷</ion-button>
    </div>
    <div class="round3">
      <ion-button shape="round" color="kerol">7</ion-button>
      <ion-button shape="round" color="kerol">8</ion-button>
      <ion-button shape="round" color="kerol">9</ion-button>
      <ion-button shape="round" color="kerol">×</ion-button>
    </div>
    <div class="round4">
      <ion-button shape="round" color="kerol">4</ion-button>
      <ion-button shape="round" color="kerol">5</ion-button>
      <ion-button shape="round" color="kerol">6</ion-button>
      <ion-button shape="round" color="kerol">-</ion-button>
    </div>
    <div class="round5">
      <ion-button shape="round" color="kerol">1</ion-button>
      <ion-button shape="round" color="kerol">2</ion-button>
      <ion-button shape="round" color="kerol">3</ion-button>
      <ion-button shape="round" color="kerol">+</ion-button>
    </div>
    <div class="round6">
      <ion-button shape="round" color="kerol">±</ion-button>
      <ion-button shape="round" color="kerol">0</ion-button>
      <ion-button shape="round" color="kerol">,</ion-button>
      <ion-button shape="round" color="kerol">=</ion-button>
    </div>
</ion-content>
