<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Calculadora </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item>
      <ion-label position="stacked">Valor 1</ion-label>
      <ion-input placeholder=></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Valor 2</ion-label>
      <ion-input placeholder=></ion-input>
    </ion-item>


    <div class="button1">
      <ion-button color="kerol">+</ion-button>
      <ion-button color="kerol">-</ion-button>
      <ion-button color="kerol">*</ion-button>
      <ion-button color="kerol">/</ion-button>
    </div>
    <div class="button2">
      <ion-button color="kerol">MAIOR</ion-button>
      <ion-button color="kerol">MENOR</ion-button>
    </div>

    <ion-item>
      <ion-label position="stacked">Resultado</ion-label>
      <ion-label position="stacked">Operação</ion-label>
    </ion-item>
</ion-content>
