<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Calculadora </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section id="values">
    <ion-item>
      <ion-label position="stacked">Valor 1</ion-label>
      <ion-input placeholder=></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Valor 2</ion-label>
      <ion-input placeholder=></ion-input>
    </ion-item>
  </section>

  <section id="buttons">
    <div class="button1">
      <ion-button>+</ion-button>
      <ion-button>-</ion-button>
      <ion-button>*</ion-button>
      <ion-button>/</ion-button>
    </div>
    <div class="button2">
      <ion-button>MAIOR</ion-button>
      <ion-button>MENOR</ion-button>
    </div>
  </section>

  <section id="fim">
    <ion-item>
      <ion-label position="stacked">Resultado</ion-label>
      <ion-label position="stacked">Operação</ion-label>
    </ion-item>
  </section>
</ion-content>
