#values {
  padding: 20px 10px;

  ion-item {
    border-radius: 10px;
  }

  ion-item:nth-child(2) {
    margin-top: 10px;
  }
}

ion-button {
  font-size: 2rem;
}

.button1 {
  display: flex;
  justify-content: center;
}

.button2 {
  text-align: center;
}
